body {
  background-color: #1a1a1a;
  color: #e6e6e6;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu {
  cursor: pointer;
  font-size: 2.5rem;
}

.nav-menu {
  background-color: #414141;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 60px;
}

.nav-menu i {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  padding: 15px;
}

.nav-menu a {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 1.5rem;
  line-height: 3rem;
}

.nav-menu a:hover {
  background: linear-gradient(
    45deg,
    #ff6961,
    #ffb347,
    #fdfd96,
    #77dd77,
    #aec6cf,
    #cba6e6,
    #fcb1c8
  );
  color: #1a1a1a;
  border-radius: 15px;
  padding: 0 15px;
  background-size: 400%;
  animation: rainbowBackground 2s ease infinite;
}

@keyframes rainbowBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-menu.active {
  display: flex;
}
